name: CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        os: ["ubuntu", "macos", "windows"]
    defaults:
      run:
        shell: bash -el {0}
    steps:
    - name: Check out
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Show dependency file
      run: cat environment.yml
      
    - name: Install Mamba
      uses: conda-incubator/setup-miniconda@v3
      with:
        environment-file: environment.yml
        activate-environment: cycles
        
    - name: List environment
      run: |
        conda list
    
    - name: Configure and compile the library (linux and macOS)
      if: runner.os != 'Windows'
      run: |
        cmake -DCMAKE_VERBOSE_MAKEFILE=yes -DCMAKE_INSTALL_PREFIX=$CONDA_PREFIX -G Ninja -B build
        cmake --build build
        
    - name: Configure and compile the library (Windows)
      if: runner.os == 'Windows'
      shell: powershell
      run: |
        cmake -DCMAKE_VERBOSE_MAKEFILE=yes -DCMAKE_INSTALL_PREFIX=$env:CONDA_PREFIX -G Ninja -B build
        cmake --build build

    - name: Run tests
      run: |
        cd build
        ctest --output-on-failure
